.myData{
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.inputText{
    width: 100%;
    padding: 7px;
    margin-left: -8px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-radius: 4px;
    margin-right: 20px;
    padding-left: 35px;
}

.conceptDiv{
    margin-top:20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.install-button{
    width: 80%;
}

.chooseClientDiv{
    width: 100%;
}

.chooseClientMainDiv{
    border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}