.newInvDateMain {
    background-color: rgba(89, 46, 74, 0.133);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    padding-bottom: 20px;
}

