.goToMyDataLink {
    text-decoration: none;
}

.FirsTimeMainDiv {
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.goToMyDataBtn {
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
}