.hero {
    position: relative;
    z-index: 0;
    height: 50vh;
    max-height: 1080px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    display: table;
    width: 100%;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }

.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 0.5s ease;
    background: linear-gradient(to bottom right, #3F5EFB, #FC466B);
    opacity: 0.9;
    z-index: -1;
  }


.Dark .hero:after {
    background: linear-gradient(to bottom right, #394370, #000000);
  }


  .hero h1 {
    font-size: 4em;
    margin-bottom: 1rem;
  }
  .hero p {
    font-size: 2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }
  .hero .content {
    display: table-cell;
    vertical-align: middle;
  }

.newInvLink{
    text-decoration: none;
}
.github{

  width: 80px;
 
}
.hero .small{
  font-size: 1em;
  margin-bottom: 10px
};
