
.text-center {
	text-align: center;
}

.pricing-box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}

.pricing-box {
	background-color: #ffffff00;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
	flex: 1;
	padding: 0 30px 30px;
	margin: 2%;
	min-width: 250px;
    max-width: 350px;
	background-color: rgba(255, 255, 255, 0.049);
	
}

.price {
	margin: 24px 0;
	font-size: 36px;
	font-weight: 900;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);

}

.price sub, .price sup {
	font-size: 16px;
	font-weight: 100;
}

.features-list {
	padding: 0;
	list-style-type: none;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.features-list li {
	font-weight: 100;
	padding: 12px 0;
	font-weight: 100;
}

.features-list li:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
	border-radius: 25px;
	border: none;
	background-color: #EC1362;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	transform: translateY(-3px);
}

.pricing-box-bg-image {
    background-size: cover;
    background-position:top;
	color: #ffffff;
	    background: linear-gradient(to bottom right, rgba(57, 67, 112, 0), rgb(0, 0, 0, 0.8));

}

.pricing-box-bg-image .features-list li {
	border-bottom-color: rgba(255, 255, 255, 1);
}

.pricing-box-bg-image .btn-primary {
	background-color: #ffffff;
	color: #000;
	font-size: 1.1em;
}

.cuentanos {
	text-decoration: none;
	color: orange;
}