.tab {
  width: 80%;
  max-width: 500px;
  margin: auto;
  color: white;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 4px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.35s;
  /* Icon */
}
.tab-label:hover {
  background: #FC466B;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: transform 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  transition: all 0.35s;
}

.tab-content.open{
  max-height: 100vh;
  padding: 1em;
}


.open.tab-label::after {
    transform: rotate(90deg);
}

  /* Propios de Client Card */

.cardMainDiv{
    text-align:center;
}

.cardMainDiv label{
    margin-top: 6px;
}

.clientBtn{
    margin-top:10px;
}

.clientBtn .editBtn{

    color:white;
    background-color: rgb(255, 182, 46);
    width: 200px;
}

.clientBtn .deleteBtn{
    margin-top:10px;
    color:white;
    background-color: rgb(255, 46, 46);
    width: 200px;
}

.clientBtn .invoiceBtn{
    margin-top:10px;
    color:white;
    background-color: rgb(46, 137, 255);
    width: 200px;
}

.clientBtn .editBtn:hover{
    color:white;
    background-color: #FC466B;
}

.clientBtn .deleteBtn:hover{
    color:white;
    background-color: #FC466B;
}

.clientBtn .invoiceBtn:hover{
    color:white;
    background-color: #FC466B;
}