@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html{
    /* box-sizing: border-box;
    overflow-x: hidden; */
    min-height: 100%;
    position:relative;
}

body {
    /* background: #fff; */
    /* padding: 0; */
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 100px;
    transition: background-color 0.5s ease;
    background-color: white;
}

body.Dark {
    background-color: #0e1e2b;
    color:white;
}
